html,body {
  background-color: rgba(240,240,240);
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.index {
  width: 550px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fff;
}
#giftAni {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.list {
  width: 100%;
  padding: 20px;
  user-select: none;
}
.list_item {
  width: 48%;
  padding: 30px 0;
  font-size: 18px;
  text-align: center;
  color: black;
  margin-right: 1%;
  margin-bottom: 20px; 
  background-color: #108ee9;
  color: #FFF;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #666;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.list_item:nth-child(2n) {
  margin-right: 0;
  margin-left: 1%;
}
.list_item.press {
  box-shadow: 0 0 0 #333;
}
.list_item.on {
  opacity: 0.5;
  box-shadow: 0 0 0 #333;
}
.submit {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.submit a {
  display: inline-block;
  vertical-align: top;
  padding: 15px 80px;
  border-radius: 5px;
  background-color: #f57d23;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.submit a:hover {
  opacity: 0.8;
}